<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
		<title>{{ title }}</title>
		<style>
			body{
				width: 1920px;
				height: 750px;
				background-image: url(https://images.wallpaperscraft.ru/image/kot_britanec_glaza_vzglyad_26816_1920x1080.jpg);
				background-repeat: no-repeat;
			}
		</style>
	</head>
	<body>
		<form class="head" method="post">
			<h1>Kotosharing</h1>
			<h2>Лучший сайт для аренды котов и кошек</h2>
			<button type="submit" class="btn btn-success">Арендовать</button>
		</form>
		<form class="who">
			<h1>Для кого ——— <small>Для тех, кто на самоизоляции и обожает кошек</small></h1>
		</form>
		<form class="motto">
			<h1>Наш девиз</h1>
			<h4><small>Мы верим, что кошки - это самые замечательные и грациозные существа на свете.</small></h4>
			<h4><small>Мы сделали сервис, который поможет каждому насладиться общением с этими милыми созданиями.</small></h4>
		</form>
		<form class="motto-img">
			<img src="../static/img/motto.jpg" width='1500' height='655'>
		</form>
		<form class="work">
			<h1>Как это работает</h1>
			<h4><small>1) Заходим на сайт</small></h4>
			<h4><small>2) Выбираем понравившуюся кошку</small></h4>
			<h4><small>3) Нажимаем на кнопку Аренда</small></h4>
			<h4><small>4) Получаем кошку</small></h4>
		</form>
		<form class="cats">
			<h1>Наши коты и кошки</h1>
		</form>
		<form class="table_">
			<table class="raz">
				<tr>
					<td><img src="../static/img/cat1.jpg" width='233' height='312'></td>
					<td><img src="../static/img/cat2.jpg" width='233' height='312'></td>
					<td><img src="../static/img/cat3.jpg" width='233' height='312'></td>
					<td><img src="../static/img/cat4.jpg" width='233' height='312'></td>
				</tr>
				<tr>
					<td>
						<h3>Мороженка</h3>
						<h5><small>Любит поспать</small></h5>
					</td>
					<td>
						<h3>Сарделий</h3>
						<h5><small>Под его началом была</small></h5>
						<h5><small>построена египетская пирамида</small></h5>
					</td>
					<td>
						<h3>Борис</h3>
						<h5><small>Кот самого Обломова</small></h5>
					</td>
					<td>
						<h3>Бэтмен</h3>
						<h5><small>Ужас, летящий на крыльях ночи</small></h5>
					</td>
				</tr>
				<tr>
					<td><img src="../static/img/cat5.jpg" width='233' height='312'></td>
					<td><img src="../static/img/cat6.jpg" width='233' height='312'></td>
					<td><img src="../static/img/cat7.jpg" width='233' height='312'></td>
					<td><img src="../static/img/cat8.jpg" width='233' height='312'></td>
				</tr>
				<tr>
					<td>
						<h3>Пушок</h3>
						<h5><small>В прошлой жизни был медведем</small></h5>
					</td>
					<td>
						<h3>Мальвина</h3>
						<h5><small>Лучшая собеседница</small></h5>
					</td>
					<td>
						<h3>Тучкин</h3>
						<h5><small>Кот программиста, иногда зависает</small></h5>
					</td>
					<td>
						<h3>Генадий</h3>
						<h5><small>Служил в рыболовных войсках</small></h5>
					</td>
				</tr>
			</table>
		</form>
		<form class="wait">
			<h1>Что ждём от вас? ——— <small>Мы надеемся, что вы будете заботиться и любить своих питомцев</small></h1>
		</form>
		<form class="wait">
			<h1>Фотографии наших клиентов</h1>
		</form>
		<form class="table_">
			<table class="raz">
				<tr>
					<td><img src="../static/img/client1.jpg" width='600' height='400'></td>
					<td><img src="../static/img/client2.jpg" width='600' height='400'></td>
				</tr>
			</table>
		</form>
		<form class="btn">
			<button type="submit" class="btn btn-success btn-lg">Арендовать</button>
		</form>
	</body>
</html>